<!DOCTYPE html>
<html>
<head>
    <title>Surplus Updates</title>
</head>
<body>
    <h1><a href="/">PC-COM SURPLUS INVENTORY</a></h1>
{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <article>
        <time>published: 12.17.2014, 12:59</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>
