<!DOCTYPE html>
<html>
<head>
    <title>Surplus Updates</title>
</head>
<body>
    <h1><a href="/">PC-COM SURPLUS INVENTORY</a></h1>
    <article>
        <time>published: 12.17.2014, 12:59</time>
        <h2><a href="">Test Post</a></h2>
        <p>ORDER NOW.</p>
    </article>
    <article>
        <time>published: 12.17.2014, 12:59</time>
        <h2><a href="">ANNOUNCEMENT</a></h2>
        <p>SURPLUS INVENTORY AVALIABLE NOW.</p>
    </article>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>
